$vwMinusScrollbar: calc(100vw - #{$scrollbar-width});
.flex {
	display: flex;
}
.jcc {
	justify-content: center;
}
.jcsa {
	justify-content: space-around;
}
.jcsb {
	justify-content: space-between;
}
.aic {
	align-items: center;
}
.aisa {
	align-items: space-around;
}
.w100 {
	width: 100px;
}
.py-5 {
	padding: 2.5rem 0 !important;
}
.my-2 {
	margin: 1rem 0 !important;
}
.inline > * {
	display: inline;
}
.little-text {
	font-size: 1.2rem;
}
.italic {
	font-style: italic;
}
.over-wrapper-container {
	position: relative;
	overflow-x: hidden;
	width: 100vw;
	left: -5vw;
	padding: 0 5vw 0 5vw;
}
.overlay-fallback {
	// this class target the body.
	// In case we are in a browser which don't know
	// about 'overflow: overlay', it will simply be ignored
	// and will applied the previous properties. 
	overflow: auto;
	overflow-x: hidden;
	// overflow: overlay;
}
