
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400');

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

//Materialize
@import "~materialize-css/sass/materialize.scss";

//Correction for fontawesome
@import "fa-corrector";

// Variables
@import 'variables';

// Scrollbar
@import 'scrollbar';

// Customs helpers
@import 'custom-helpers';

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.card-fab {
    position: relative;
    z-index: 1;
}
#toast-container {
	top: inherit !important;
	right: inherit !important;
    left: 5% !important;
    bottom: 7% !important;
    // max-width: 90% !important;
}
.dropdown-content.select-dropdown.multiple-select-dropdown {
	max-height: 200px;
}
.sidenav li {
	display: flex;
	align-items: center;
	height: 5rem;
	transition: all .5s ease;
	& > a {
		width: 100%;
		font-size: 2.5rem;
		font-weight: 100;
		&:hover {
			background-color: initial;
		}
	}
	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
}
/**
 * Customs styles
 *
 */
body {
	font-family: $font-family-sans-serif;
}


// Animations
@keyframes blink {
	0% { opacity: 0; }
	50% { opacity: 0; }
	75% { opacity: .8; }
	100% { opacity: 0; }
}
// Nav, just to fix an issue
#pin {
	z-index: 2;
}
// Header
#header {
	height: 100vh;
	background: url('../images/header-bg.jpeg') center/cover no-repeat;
	display: grid;
	grid-template-rows: 1fr;
	position: relative;
	// 
	&::before {
		content: '';
		position: absolute;
		background-color: rgba(0, 0, 0, .1);
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	h1 {
		justify-self: center;
		align-self: center;
		z-index: 1;
	}
	#scroll-down {
		position: relative;
		bottom: 3rem;
		cursor: pointer;
		z-index: 1;
		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			i {
				opacity: 0;
				height: 1rem;
				animation-name: blink;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-out;

				&:first-child {
					animation-delay: .90s;
				}&:nth-child(2) {
					animation-delay: 1s;
				}&:last-child {
					animation-delay: 1.10s;
				}
			}
		}
	}
}
// Loader
#loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}
nav .brand-logo {
	height: 100%;
	padding: .5rem 1rem;
	img {
		max-height: 100%;
	}
}

#description {
	position: relative;
	// font-size: 1.5rem;
	margin: 5rem 0;
	
	&::before, &::after {
		content: '';
		position: absolute;
		width: 100px;
		height: 100px;
		display: block;
		opacity: .1;
		background-image: url('../icon/two-quotes.svg');
	}
	&::before {
		transform: rotate(180deg);
		top: -40px;
		left: -40px;
	}
	&::after {
		bottom: -40px;
		right: -40px;
	}
}
.container.valign-wrapper {
	flex-wrap: wrap;
}
#bandeau {
	background-color: rgba(0, 0, 0, .1);
	padding: 3rem 0;
}
#img-container {
	img {
		border: 20px solid white;
	}
}
.collection {
	i {
		padding-right: 1rem;
	}
	.collection-item { transition: all .5s ease;}
	.collection-item:hover {
		background-color: #eeeeee;
	}
}
#search-modal {
	max-height: 100%;
	&.modal-fixed-footer {
		top: 5% !important;
		height: 90%;
	}
}

#tags {
	position: relative;
	font-size: 2rem;
	&::before {
		content: '#';
		opacity: .2;
		left: -100%;
		top: 0;
		line-height: .2;
		font-size: 50rem;
		font-weight: 100;
		display: block;
		position: absolute;
		z-index: -1;
		max-width: 100vw;
	}
}
main {
	overflow: hidden;
}
@media #{$medium-and-down} {
    #description {
       	&::before { left: -19px; }
       	&::after { right: -19px; }
       	& + .row .col.m12.l6 { width: 100%; }
    }
    #tags {
    	&::before { left: 0%; }
    }
    // #search-modal {
    // 	width: 
    // }
}
@media #{$small-and-down} {
	#tags {
    	&::before { left: -20%; }
    }
}
.modal {
	width: 90%;
}
#search-modal {
	#close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
	}
}
@media #{$extra-large-and-up} {
	.modal {
		width: 55%;
	}
}